
<html>
   <head>
      <title>Chat</title>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 
            viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>✉</text></svg>">
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Roboto&display=swap" rel="stylesheet">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

   </script>
   <script src="/javascript/main.js"></script>
   <style>
      * {
         box-sizing: border-box;
      }

      :root {
         --animation-animate-to: 50%;
      }

      /* Hide scrollbar for Chrome, Safari and Opera */
      .body::-webkit-scrollbar {
         display: none;
      }

      ::-webkit-scrollbar {
         width: 12px;
         position: absolute;
         float:right;
      }

      ::-webkit-scrollbar-thumb {
         background: rgba(59, 58, 48, 0.8);
         -webkit-border-radius: 10px;
         border-radius: 10px;
         z-index: 4;
         position: absolute;
      }

      ::-webkit-scrollbar-track {
         background: rgba(255,255,255,0);
         -webkit-border-radius: 10px;
         border-radius: 10px;
         z-index: 3;
         position: relative;
      }
      .header {
         padding: 10px;
         text-align: center;
         color: #3b3a30;
         margin: auto; /* Gives that scrolling effect as the typing happens */
         letter-spacing: .15em; /* Adjust as needed */
         overflow: hidden;
         white-space: nowrap; /* Keeps the content on a single line */
         padding: 5px 5px 5px 5px;
         font-size: 150%;
      }

      /* Hide scrollbar for IE, Edge and Firefox */
      .body {
         -ms-overflow-style: none;
         /* IE and Edge */
         scrollbar-width: none;
         /* Firefox */
      }

      /* Style the body */
      body {

         font-family: 'Roboto', sans-serif;
         margin: 0;
         padding: 0;
         overflow-y: hidden;
         height: 100%;

      }

      /*color accessible placeholder */
      ::-webkit-input-placeholder {
         color: #575757;
         opacity: 1;
      }

      :-moz-placeholder {
         /* Firefox 18- */
         color: #575757;
         opacity: 1;
      }

      ::-moz-placeholder {
         /* Firefox 19+ */
         color: #575757;
         opacity: 1;
      }

      :-ms-input-placeholder {
         color: #575757;
         opacity: 1;
      }

      input 
      {
         padding: 1vw;
         border: 4px solid #c0ded9;
         text-align: center;
         letter-spacing: .15em;
         /* Adjust as needed */
         text-decoration: none;
         /* remove underline from anchors */
         color: black;
         background-color: white;
         font-size: 16px;
         font-weight: 600;
         min-height: max-content;

         margin-top: 0;
      }

      input[type="text"] {
         width: 60%;
         margin-right: auto;
      }

      input[type="submit"] {
         width: 35%;
         margin-left: auto;
      }


      input:not([type="submit"]):focus {
         background-color: #b2c2bf;
      }

      input:not([type="submit"]):focus::-webkit-input-placeholder {
         opacity: 0;
      }
      input[type=submit] {
         background-color: #c0ded9;
      }

      input[type=submit]:active {
         background-color: #3b3a30;
         color: white;
      }

      .message-sandbox-form {
         display: flex;
         flex-wrap: wrap;
         flex-direction: row;
         margin-top: auto;
         width: 100%;
         height: 10%;

         min-height: max-content;
         padding: 1vw;
      }

      .message-log-marquee {
         display: flex;
         flex-wrap: wrap;
         flex-direction: row;
         width: 100%;
         height: 90%;
         padding: 1vw;                         

         overflow-y: scroll;
         min-height: fit-content;
      }                       

      .message-container
      {
         height: fit-content;
         position: relative;
         font-size: 16px;
         overflow-y: auto;
         width:100%;
         padding: 2px 0 3px;
         display: flex;
         flex-wrap: nowrap;
         flex-direction: row;


      }

      .sticky-right
      {
         margin-left: auto;
      }

      .sticky-left
      {
         margin-right: auto;
      }

      .sent .message-content
      {
         margin-left: auto;
         background-color: #eaece5;
      }


      .received .message-content
      {
         margin-right: auto;
         background-color: #e4e6eb;
      }


      .message-content
      {
         padding: 7px 8px 12px;
         overflow-wrap: break-word;
         max-width: 40%;

      }


      .message-container:hover > i
      {

         visibility: visible;
         animation: pop-icon 2s cubic-bezier(0.280, 0.840, 0.420, 1) infinite;;
      }

      .typing-bubble {
         height: fit-content;
         position: relative;
         font-size: 16px;
         overflow-y: auto;
         width: 100%;
         padding: 12px 8px 7px;
         display: flex;
         flex-wrap: nowrap;
         flex-direction: row;
         visibility: hidden;

      }

      .typing-bubble>span {
         width: 0.8em;
         background-color: grey;
         height: 0.8em;
         margin: 3px;
         border-radius: 50%;
         animation: bounce-7 1s cubic-bezier(0.280, 0.840, 0.420, 1) infinite;
      }

      .typing-bubble>span:nth-child(1)
      {
         animation-delay: 0.2s;
      }
      .typing-bubble>span:nth-child(2)
      {
         animation-delay: 0.5s;
      }
      .typing-bubble>span:nth-child(3)
      {
         animation-delay: 0.8s;
      }

      @keyframes bounce-7 {
         0%   { transform: scale(1,1)      translateY(0); }
         10%  { transform: scale(1.1,.9)   translateY(0); }
         30%  { transform: scale(.9,1.1)   translateY(-0.4em); }
         50%  { transform: scale(1.05,.95) translateY(0); }
         57%  { transform: scale(1,1)      translateY(-0.02em); }
         64%  { transform: scale(1,1)      translateY(0); }
         100% { transform: scale(1,1)      translateY(0); }
      }

      @keyframes pop-icon
      {
         0%   { transform: scale(1,1)      translateX(0); }
         10%  { transform: scale(1.1,.9)   translateX(0); }
         30%  { transform: scale(.9,1.1)   translateX(0.2em) rotate(-20deg);}
         50%  { transform: scale(1.05,.95) translateX(0) rotate(-20deg) visibility: visible;}
      }


      .contacts-container {
         -webkit-flex: 33%;
         flex: 33%;
         display: -webkit-flex;
         display: flex;
         -webkit-flex-direction: column;
         flex-direction: column;
         margin: 0;
         padding: 0;
         min-width: max-content;

      }

      .contact {
         width: 100%;
         padding: 12px;
         display: flex;
         text-align: center;
         justfy-content:space-evenly;
         letter-spacing: 0.15em;
         text-decoration: none;/* remove underline from anchors */
         color: black;
         background-color: white;
         font-size: 16px;
         font-weight: 600;
         height: 10%;
         min-height: 50px;
         flex-direction: column;
         margin: 0.3em 0 0.3em;
      }

      .last-online-span
      {
         text-decoration: none;
         /* remove underline from anchors */
         color: black;
         font-size: 0.8em;
         font-weight: 400;
         margin-right: auto;
         letter-spacing: 0em;
         /*prevent the div growing, we will set whitespace to nowrap
         to keep it on one line, set overflow to hidden so it doesnt go
         out of the div, and set text overflow to ellipses to show there
         might be more text */
         white-space: nowrap;
         overflow: hidden;
         text-overflow: ellipsis;


      }
      
      .contact-typing:after
      {
         content: "  typing...";
         font-family: 'Archivo Black', sans-serif;
      }

      .contact-name-span
      {
         text-decoration: none;
         /* remove underline from anchors */
         color: black;
         font-size: 1em;
         font-weight: 600;
         margin-right: auto;

      }

      /* Column container */
      .row {
         display: flex;
         flex-wrap: wrap;
         height: 100%;
         margin: 0;
         padding: 0;

      }

      /*Create a column that takes up 50% of its containers width and 100% of its height*/
      .flex-div-30 {
         flex: 30%;
         background-color: white;
         min-width: 30%;
         height: 100%;
         flex-wrap: wrap;
         flex-direction: column;
         margin: 0;
         padding: 0;
         overflow-y: hidden;
         border-right: 4px solid #c0ded9;


      }

      .flex-div-30:hover
      {
         overflow-y: auto;
      }

      .flex-div-70 {
         flex: 70%;
         background-color: white;
         padding: 20px;
         min-width: 70%;
         display: flex;
         flex-wrap: wrap;
         flex-direction: column;
         margin: 0;
         padding: 0;
         height: 100%;

      }

      /*When the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
      @media screen and (max-width: 700px) {
         .row {
            flex-direction: column;
         }

         :root {
            --animation-animate-to: 100%;
         }

         .flex-div-30, .flex-div-70
         {
            flex: 100%;
            width: 100%!important;
            height: 100%;
         }

         body
         {
            overflow: auto;
         }


      }
      @media screen and (orientation: "landscape")
      {
         .row {
            flex-direction: column;
         }
         .flex-div-30, .flex-div-70
         {
            width: 100vw!important;
         }

         .message-sandbox-form
         {
            padding: 0;

         }
      }

      @media screen and (orientation: "portrait")
      {
         .flex-div-30, .flex-div-70
         {
            flex: 100%;
            width: 100vw!important;
         }
      }




   </style>
</head>
<body>
   <div class="row">
      <div class="flex-div-30">
         <h1 class="header" style="font-size: 200%;">Contacts</h1>
         <div class="contacts-container" id="contacts-roster" aria-live="polite" aria-relevant="additions removals">
            <% for(i=0; i<contacts.length; i++) { %>
               <div tabindex="1" class="contact" id=<%= contacts[i].username  %> >
                 <span  class="contact-name-span"><%= contacts[i].username %></span>
                  <span class="last-online-span"><%= contacts[i].socket_ids.length < 1 ? "offline" : "online" %></span>
               </div>
               <% } %>

         </div>

      </div>
      <div class="flex-div-70">
         <div class="message-log-marquee">
            <% for(i=0; i<messages.length; i++) { %>
               <% if(messages[i].origin_user == currentuser) { %>
               <div class="message-container sticky-right sent">
                  
                  <span id=<%= messages[i]._id  %> class="message-content"> <%= messages[i].contents.body %></span>
               </div>
               <% } else { %>
               <div class="message-container sticky-left received">
                  <span id=<%= messages[i]._id  %> class="message-content"><%= messages[i].contents.body %></span>
                  
               </div>
               <%  }%> <!-- else -->
               <%  }%><!-- for -->
               <div class="typing-bubble sticky-left received">
                  <span></span>
                  <span></span>
                  <span></span>
               </div>
         </div>
         <div class="message-sandbox-form">
            <input id="rog-message" type="text" name="message" placeholder="say something" required>
            <input type="submit" value="No Message" disabled>
         </div>
      </div>
   </div>

</html>


